//!Primary Colors
$reaction-red: hsl(0, 100%, 67%);
$memory-yellow: hsl(39, 100%, 56%);
$verbal-green: hsl(166, 100%, 37%);
$visual-blue: hsl(234, 85%, 45%);
//! Gradients
$lightslatebluebackground: hsl(252, 100%, 67%);

$lightroyalbluebackground: hsl(241, 81%, 54%);

$violetbluecircle: hsla(256, 72%, 46%, 1);

$persianbluecircle: hsla(241, 72%, 46%, 0);

// !NEUTRAL COLORS
$white: hsl(0, 0%, 100%);
$paleblue: hsl(221, 100%, 96%);
$lightlavender: hsla(241, 100%, 89%, 0.9);
$darkgrayblue: hsl(224, 30%, 27%);

// ? flex

@mixin flexCenter($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}
